$mediumBP: 993px;
$smallBP: 660px;

$mainBlue: #039BE5;

$defaultTextColor: white;
$defaultTextColorOpaque: #666;
$darkTextColor: #111;
$links: #2196f3;
$linksVisited: #9c27b0;
$defaultBackgroundColor: #F5F5F5;

$darkBlue: #160933;
$darkPrimary: #270631;
$primary: #50265D;
$secondary: #c24d67;
$color3: #9E1A6E;
$orange: #F5843E;
$highlight: #FF3B79;
$skyDark: #0650B6;
$skyMedium: #2F80ED;
$skyClear: #56CCF2;

$moon: #F5F3CE;
$crater: shade(#F5F3CE, 30%);
$craterShadow: shade(#F5F3CE, 40%);





$oddColor: #e8e8e8;
$blackOne: #111;
$grayTwo: #eee;
$grayOne: #e0e0e0;
$grayThree: #bdbdbd;
$mGray1: #F8FFFF;
$mGray2: #fff;
$blackTwo: shade($blackOne,20%);

$redFlag: #f44336;
$greenFlag: #43A047;
$highMark: #FF9800;

$whiteOne: #F6F6F6;
